body {
  background-color: #474747;
}

button {
  display: block;
  margin: 0 auto;
}
.header {
  width: ;
  height: 130px;
  background-color: #271f22;
}

.header img {
  width: 486,5px;
  height: 128px;
  float: left;
}
iframe {
  margin: 0 auto;
  display: block;
}
h1 {
  text-align: center;
  color: #ff0;
  font-size: 70px;
}
iframe{
border-width: 5px;
}

